<header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
            </i>
            <strong style="font-size: 30px;">Shopping Cart
            </strong>
            <div class="form-group">
                <input type="text" name="searchTerm" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Buscar productos">
            </div>
            <span class="fas fa-search search-icon"></span>
            <strong style="font-size: 20px; padding-left: 150px;">CI: {{cedula}}</strong>
        </div>
        <button routerLink="/cart" class="btn btn-success">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger"></div>
        </button>
       
    </div>
</header>