<!-- 
  --------------------------------
              HEADER
  --------------------------------
 -->

<header class="wrapper">
  <nav>
    <ul class="wrapper__links" >
      <li><a routerLink="login">Categorias</a></li>
      <li><a routerLink="login">Mis Compras</a></li>
    </ul>
    <div class="wrapper__link-user">
      <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
      <ul>
        <li><a routerLink="login">Inciar Sesión</a></li>
        <li><a routerLink="register">Registrarse</a></li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>