<app-header></app-header>
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="" alt="">
                <h6>Todo</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Electrodomesticos')">
                <img src="" alt="">
                <h6>Electrodomésticos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Ropa')">
                <img src="" alt="">
                <h6>Ropa</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Accesorios')">
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Accesorios</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('Limpieza')">
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Limpieza</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Aseo Personal')">
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Aseo Personal</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Tecnologia')">
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Tecnología</h6>
            </a>
        </div>

        <div class="item">
            <a routerLink="/client-order-list"> 
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Mis Compras</h6>
            </a>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'pro_nombre'" >
            <div class="card col-mb-3">
                <img src="{{item.pro_imagen}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch; font-size: 20px; font-family:Arial; ">{{item.pro_nombre}}</h5>
                <p style="font-size: 15px;"><strong>Precio:</strong> ${{item.pro_precio}}</p>
                <p style="font-size: 15px;"><strong>Cantidad:</strong> {{item.pro_cantidad}}</p>
                <button class="btn btn-success" (click)="addToCart(item)" >Añadir al carrito
                    <i style="font-size: 20px;" class="fas fa-cart-plus">&nbsp;</i>
                </button>
            </div>
        </ng-container>

    </div>
</div>