<app-header></app-header>
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="" alt="">
                <h6>Todo</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="" alt="">
                <h6>Electrodomesticos</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="" alt="">
                <h6>Ropa</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Accesorios</h6>
            </a>
        </div>

        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Limpieza</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Aseo Personal</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Tecnologia</h6>
            </a>
        </div>
        <div class="item">
            <a routerLink="/main"> 
                <img style="width: 62px; margin-top: 5px;" src="" alt="">
                <h6>Menu</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList" >
            <div class="card col-mb-3">
                <img src="{{item.pro_imagen}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.pro_nombre}}</h5>
                <p><strong>Price:</strong> ${{item.pro_precio}}</p>
                <button class="btn btn-success" (click)="addToCart(item)" >Añadir al carrito
                    <i style="font-size: 20px;" class="fas fa-cart-plus">&nbsp;</i>
                </button>
            </div>
        </ng-container>

    </div>
</div>