/* 
*   ------------------------------------
*           DESIGN CSS HEADER
*   ------------------------------------
*/

.wrapper {
    background: #28A745;
    /* position: fixed; */
    width: 100%;
    transition: all 0.5s ease;
}

.wrapper nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: right;
}

.wrapper__links {
    display: flex;
    height: 100%;
    margin-right: 4em;
    margin-bottom: 0;
}

.wrapper__links li {
    margin-right: 1em;
    list-style: none;
    line-height: 70px;
    transition: all 0.5s ease;
}

.wrapper__links li:hover>a {
    border-bottom: 2px solid #8fdda1;
    color: #8fdda1;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.wrapper__links li a {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 21px 17px;
    transition: all 0.5s ease;
}

/* NEXT SECTION */

.wrapper__link-user {
    display: flex;
    width: 4.5em;
    height: 100%;
    cursor: pointer;
    border-bottom: 2px solid #28A745;
}

.wrapper__link-user:hover {
    border-bottom: 2px solid #8fdda1;
    background: rgba(0, 0, 0, 0.4);
}

.wrapper__link-user img {
    object-fit: cover;
    border-radius: 250px;
    width: 80%;
    height: 80%;
    margin: auto;
}

.wrapper__link-user ul {
    background: #28A745;
    position: absolute;
    height: auto;
    top: 70px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.wrapper__link-user:hover>ul {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}

.wrapper__link-user ul li {
    list-style: none;
    line-height: 50px;
    transition: all 0.5s ease;
}

.wrapper__link-user ul li:hover>a {
    color: #8fdda1;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.wrapper__link-user ul li a {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 0 8px;
    transition: all 0.5s ease;
}