<!-- 
  --------------------------------
              HEADER
  --------------------------------
 -->
 <header class="wrapper">
    <nav>
      <ul class="wrapper__links" >
        <li><a routerLink="/main">Categorias</a></li>
        <li><a routerLink="/login">Mis Compras</a></li>
      </ul>
      <div class="wrapper__link-user">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
        <ul>
          <li><a routerLink="/login" style="font-size:medium;">Iniciar Sesión</a></li>
          <li><a routerLink="/register" style="font-size:medium;">Registrarse</a></li>
        </ul>
      </div>
    </nav>
  </header>

  
  
