<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Registro</title>
</head>

<body>

    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido a tu tienda virtual</h2>
                <p>¿Tienes una cuenta?</p>
                <p>Si ya la tienes, inicia sesión</p>
                <button routerLink="/login" class="sign-up-btn">Iniciar Sesión</button>
                <button routerLink="/main" class="sign-up-btn">Regresar al menú</button>
            </div>
        </div>
        <form action="" class="formulario">
            <div>
                <input type="text" placeholder="Cédula" [(ngModel)]="clienteData.per_cedula" name="per_cedula">
                <span id="valueId">
                    <i class="fas fa-info-circle"></i>
                    Cédula Incorrecta.
                </span>
            </div>

            <div>
                <input type="text" placeholder="Nombres" [(ngModel)]="clienteData.per_nombres" name="per_nombres">
                <span id="valueNames">
                    <i class="fas fa-info-circle"></i>
                    Campo Obligatorio.
                    Ingrese un nombre correcto.
                </span>
            </div>

            <div>
                <input type="text" placeholder="Dirección" [(ngModel)]="clienteData.per_direccion" name="per_direccion">
                <span id="valueAddress">
                    <i class="fas fa-info-circle"></i>
                    Ingrese una dirección.
                </span>
            </div>

            <div>
                <input type="text" placeholder="Teléfono" [(ngModel)]="clienteData.per_telefono" name="per_telefono">
                <span id="valuePhone">
                    <i class="fas fa-info-circle"></i>
                    Ingrese un número de teléfono.
                </span>
            </div>

            <div>
                <input type="email" placeholder="Correo" [(ngModel)]="clienteData.per_correo" name="per_correo">
                <span id="valueMail">
                    <i class="fas fa-info-circle"></i>
                    Ingrese un correo correcto.
                    Campo Obligatorio.
                </span>
            </div>

            <!-- <div class="tooltip">
                <span class="tooltiptext">
                    <i class="fas fa-info-circle"></i>
                    Ingrese Contraseña.
                    Contraseña debe contener mas de 8 caracteres.
                </span>
            </div> -->

            <div class="password">
                <input class="arrowpopup" type="password" placeholder="Contraseña" [(ngModel)]="clienteData.per_clave"
                    name="per_clave">
                <span id="valuePassword">
                    <i class="fas fa-info-circle"></i>
                    Su contraseña debe tener más de 8 caracteres, al menos un dígito, al menos una minúscula y al
                    menos una mayúscula. No puede tener otros símbolos.
                </span>
            </div>

            <div>
                <select class="select" [(ngModel)]="clienteData.per_ciudad" name="per_ciudad">
                    <option selected>Ciudad</option>
                    <option *ngFor="let ciudad of ciudades" value="{{ciudad.name}}">{{ciudad.name}} </option>
                </select>
                <span id="valueCity">
                    <i class="fas fa-info-circle"></i>
                    Seleccione su ciudad.
                </span>
            </div>

            <div>
                <select class="select" [(ngModel)]="clienteData.per_estadocivil" name="per_estadocivil">
                    <option>Estado Civil</option>
                    <option *ngFor="let states of estado_civiles" value="{{states.name}}">{{states.name}}</option>
                </select>
                <span id="valueStatus">
                    <i class="fas fa-info-circle"></i>
                    Seleccione su estado civil.
                </span>
            </div>
            <input type="button" (click)="SignUp()" value="Registrarse">
        </form>
        <!-- <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
            <div>
                <label>Company: </label>
                <input formControlName="company" type="text" placeholder="company">
            </div>
            <div *ngIf="myForm.get('company')!.errors && myForm.get('company')!.dirty">
                <p *ngIf="myForm.get('company')!.hasError('required')">Campo Requerido</p>
                <p *ngIf="myForm.get('company')!.hasError('minlength')">Minimo 8 caracteres</p>
                <p *ngIf="myForm.get('company')!.hasError('maxlength')">Maximo 100 caracteres</p>
            </div>
            <div>
                <button type="submit" [disabled]="myForm.invalid">Save</button>
            </div>

        </form> -->
    </div>
    <!-- <div class="container">
    <div class="row">
    <div class="col-md-12 my-3">
        <app-new-form (newItemEvent)="addnewCity($event)" [label]="'City'" [className] = "'btn-info'" >

        </app-new-form>
    </div>
    <div class="col-md-8">
        <ul>
        <app-cities *ngFor="let city of cities" 
        (addnewCity) = "onClicked(city)" [city]="city" [selection]="selection"></app-cities>
        </ul>

        
        
        <div class="col-md-4">
        <div *ngIf="selection">
            <p>You city election is : {{selection}}</p>
            <app-button (click) = "onClear()" [color]="'blue'" [label] = "'Limpiar'"> 

            </app-button>
        </div>
        </div>
    </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
    <div class="col-9">
        <app-contact></app-contact>      
    </div>
    <div class="col-3">
        Data
    </div>
    </div>
</div> -->
</body>

</html>