
<app-navhead></app-navhead>
<!-- 
    --------------------------------
                BANNER
    --------------------------------
   -->
<div class="banner">

</div>
<div class="welcome">
    <p>!Busca lo que necesitas!</p>
    <p>Contamos con varios productos a precios bajos.</p>
</div>
<!-- 
    --------------------------------
                MAIN
    --------------------------------
   -->

<main>
    <div class="container">
        <h2>Categorias</h2>
        <div class="container__categories">
            <a href="/login" class="container__categories__card">
                <i class="fas fa-air-freshener"></i>
                <p class="container__categories__card__name">Accesorios</p>
            </a>
            <a href="/login" class="container__categories__card">
                <i class="fas fa-tshirt"></i>
                <p class="container__categories__card__name">Ropa</p>
            </a>
            <a href="/login" class="container__categories__card">
                <i class="fas fa-tablet-alt"></i>
                <p class="container__categories__card__name">Electrodomésticos</p>
            </a>
            <a href="/login" class="container__categories__card">
                <i class="fas fa-bath"></i>
                <p class="container__categories__card__name" >Aseo Personal</p>
            </a>
            <a href="/login" class="container__categories__card">
                <i class="fas fa-soap"></i>
                <p class="container__categories__card__name">Limpieza</p>
            </a>
            <a href="/login" class="container__categories__card">
                <i class="fas fa-mouse"></i>
                <p class="container__categories__card__name">Tecnología</p>
            </a>
        </div>
    </div>
</main>

<!-- 
    --------------------------------
                FOOTER
    --------------------------------
   -->

<footer>
    <div class="decoration"></div>
    <div class="footer-bottom">
        <span class="footer-bottom__copyright">© Copyright 2022 Project</span>
    </div>
</footer>