/* 
*   ------------------------------------
*           DESIGN CSS BANNER
*   ------------------------------------
*/

.banner {
    z-index: 1;
    background: url("https://i.pinimg.com/originals/38/fb/2f/38fb2f7a565a32ce7e46b99240d294a2.jpg");
    /* background: #000; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    /* max-width: 1000px; */
    height: 20rem;
    text-align: center;
    font-size: 4rem;
}

.welcome {
    position: absolute;
    color: #fff;
    left: 25%;
    top: 40%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, 0.7);
    padding: 3em 1em;
    font-size: 20px;
    font-weight: 200;
    width: 17em;
    border-radius: 2em;
}

/* 
*   ------------------------------------
*           DESIGN CSS MAIN
*   ------------------------------------
*/

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}

.container__categories {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.container__categories__card {
    color: #000;
    margin: 1em 2em;
    border: 1px solid #000;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    padding: 2em;
    text-align: center;
    border-radius: 5px;
    width: 250px;
    height: 220px;
}

.container__categories__card:hover {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.container__categories__card i {
    font-size: 4em;
    padding: 10px 0;
}

.container__categories__card__name {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 4px;
}

.container__categories__card__total {
    font-size: 16px;
}

/* 
*   ------------------------------------
*           DESIGN CSS FOOTER
*   ------------------------------------
*/

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.decoration {
    margin-top: 1.5em;
    background: #111;
    height: 8px;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.footer-bottom__copyright {
    /* text-transform: uppercase; */
    font-family: 'Roboto', sans-serif;
    opacity: .4;
    font-weight: 200;
    color: white;
    opacity: 0.5;
    font-size: 0.9rem;
}